*{
    font-family:Lato,sans-serif;
}

.container{
    background:lightblue;
    height:auto;
    margin:0 auto;
    padding:1em;
    width:800px;
}

.main{
    min-height:200px;
}

#addTask,#sortTask,#delTask{
    float:left;
}

#taskList{
    float:right;
}